<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>
        Shader Editor
      </h1>
      <h1><img src="https://cdn.glitch.com/4dd0b763-d029-4fb7-9d05-a13adddc61f2%2Fhusky_copy.png?v=1568561412816"/></h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Register new user</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>